Case,Benchmark,Config,IPC,L1D_MPKI,L2_MPKI,Branch_MPKI
1.1,mm,l1d_8kb,0.9824,150.048,1.099,2.520
1.1,mm,l1d_32kb,2.653,30.617,1.099,2.520
1.1,mm,l1d_64kb,3.648,9.150,1.099,2.517
1.2,mm,l2_128kb,,,,,
1.2,mm,l2_256kb,,,,,
1.2,mm,l2_512kb,,,,,
1.3,cache_thrash,LRU,,,,,
1.3,cache_thrash,FIFO,,,,,
1.3,cache_thrash,TreePLRU,,,,,
2.1,towers,LocalBP,,,,,
2.1,towers,BiModeBP,,,,,
2.2,branch_corr,LocalBP,,,,,
2.2,branch_corr,BiModeBP,,,,,
2.3,branch_bias,LocalBP,,,,,
2.3,branch_bias,BiModeBP,,,,,
3.1,stream,degree_1,,,,,
3.1,stream,degree_2,,,,,
3.1,stream,degree_4,,,,,
3.2,stream,BaselineStride,,,,,
3.2,stream,GHB_LiteStudent,,,,,
